@font-face {
    font-family: "Apple2_40";
    src: url("../fonts/Apple2_40.ttf");
}

@font-face {
    font-family: "Apple2_80";
    src: url("../fonts/Apple2_80.ttf");
}

body {
    background: #c4c1a0;
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bounds {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.bezel {
    display: inline-block;
    box-sizing: content-box;
    border: 25px inset #f0edd0;
    border-radius: 10px;
}

.screen {
    position: relative;
    display: inline-block;
    background: #222;
    padding: 20px 25px;
    margin: -10px;
    border-radius: 20px;
}

.shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 0 5px 60px #000;
}

.display {
    position: relative;
    width: 50ch;
    height: 400px;
    overflow: hidden;
    font-size: 14px;
    font-family: "Apple2_40";
    color: rgb(42, 253, 133);
    line-height: 20px;
}

.display-text {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url("../images/scanline.png") repeat left top;
}

.footer {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    background: url("../images/apple-logo.png") no-repeat center;
    background-size: contain;
}

.swiftness-logo {
    display: none;
    position: absolute;
    left: -20px;
    top: 10px;
    width: 100px;
    height: 50px;
    background: url("../images/sticky-note.png") no-repeat center;
    background-size: contain;
    transform: rotate(-20deg);
}

.disk-drive {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disk-drive-image {
    width: 230px;
    height: 60px;
    background: url("../images/disk-drive.png") no-repeat right center;
    background-size: contain;
}

.key-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #33322d;
    outline: none;
    padding: 0;
    margin: 7px;
    margin-right: 0;
    border-radius: 4px;
    border: 10px solid #151610;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 3px;
    border-bottom-color: #403a2e;
    cursor: pointer;
}

.key-button:active {
    border-color: #33322d;
    border-bottom-width: 7px;
    border-top-width: 6px;
}

.key-button svg {
    fill: #bdb7a9;
    width: 24px;
    height: 24px;
    padding: 5px;
}

.horizontal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.memory-view {
    background: #fff;
    padding: 20px 25px;
    font-family: monospace;
    margin-left: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
